//initially set up files to use this but decided to skip use of partials

<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#unless devoured}}DEVOUR{{/unless}}
	</button>

</li>